body
{
    background-color:dimgrey; 
}
.container
{
    background-color: aliceblue;
    width: 80%;
    height: 600px;
    padding: 20px;
    margin: 25px;    
}
.container table
{
    width: 90%;
    height: 130px;
    text-align: center;
}
.container th
{
    width: 25%;
}